canvas{border: 1px solid #000;background: white;}
body{background-color:white; cursor:crosshair;}
#buttons {
  position: absolute;
  top: 5px;
  right: 10px;
}
#reset {
  margin-top: 10px;
  margin-right: 5px;
  float: left;
}
.color {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}

.func {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 30px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}

.img {
  float: right;
  margin-top: 50px;
  margin-right: 100px;
  cursor: pointer;
  text-align: center;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
 margin-left: 20px;
}
